.services {
  padding: 40px 32px 64px;

  @media screen and (max-width: 992px) {
    padding: 32px 24px 48px;
  }
}

.title {
  margin-bottom: 40px;

  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 39px;
  line-height: 46px;
  color: #262626;
}

.filter {
  margin-bottom: 24px;
}