.header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 32px;

  background: #fff;
}

.item:nth-last-child(n + 2) {
  margin-right: 23px;
}

.itemTitle {
  font-size: 13px;
  line-height: 19px;
  color: #7D7D7D;
}

.itemSum {
  font-family: 'Rubik', sans-serif;
  font-size: 19px;
  line-height: 26px;
  color: #262626;
}