.header {
  position: relative;

  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 32px;

  background: #fff;

  @media screen and (max-width: 992px) {
    padding: 0 24px;
  }
}

.item:nth-last-child(n + 2) {
  margin-right: 23px;
}

.itemTitle {
  font-size: 13px;
  line-height: 19px;
  color: #7d7d7d;
}

.itemSum {
  font-family: "Rubik", sans-serif;
  font-size: 19px;
  line-height: 26px;
  color: #262626;
}

.hamburgerBtn {
  position: absolute;
  right: 6px;
  top: calc(50% - 25px);
  z-index: 10;

  display: none;
  width: 50px;
  height: 50px;

  background: none;
  border: none;

  cursor: pointer;

  &.active {
    .hamburgerLine {
      height: 0;
    }

    .hamburgerLine::before {
      transform: rotate(45deg);
    }

    .hamburgerLine::after {
      transform: rotate(-45deg);
    }
  }

  @media screen and (max-width: 480px) {
    display: block;
  }
}

.hamburgerLine,
.hamburgerLine:before,
.hamburgerLine:after {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 15px);
  z-index: 10;

  width: 30px;
  height: 2px;

  background: #000000;

  transition: .3s linear;
}

.hamburgerLine {
  &::before {
    transform: translateY(-8px);
    content: '';
  }

  &::after {
    transform: translateY(8px);
    content: '';
  }
}