.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 80px;

  background: #1b1d29;
  transition: 0.3s linear;

  @media screen and (max-width: 480px) {
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
    }
  }
}

.logoWrapper {
  margin: 20px 0 44px;

  text-align: center;

  @media screen and (max-height: 568px) {
    margin-bottom: 20px;
  }

  @media screen and (max-height: 414px) {
    margin: 10px 0;
  }
}

.logo {
  @media screen and (max-height: 414px) {
    width: 30px;
    height: 30px;
  }
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 72px;

  cursor: pointer;

  &:hover {
    .navCircle {
      border-color: #fff;
    }
  }

  @media screen and (max-height: 568px) {
    height: 55px;
  }

  @media screen and (max-height: 414px) {
    height: 42px;
  }

  @media screen and (max-height: 375px) {
    height: 36px;
  }

  @media screen and (max-height: 320px) {
    height: 32px;
  }
}

.navCircle {
  width: 24px;
  height: 24px;

  border: 3px solid #888991;
  border-radius: 50%;

  transition: 0.3s linear;

  @media screen and (max-height: 414px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (max-height: 320px) {
    width: 18px;
    height: 18px;
  }
}
